@import '~normalize.css';

body {
  background: #fff;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

button {
    font-family: Helvetica, Arial, sans-serif;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

textarea,
input {
    color: #666;
    outline: none;
}
